h1,
h2 {
  font-family: Lato;
}

.titulo {
  background-color: #e8560f;
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
  font-weight: bold;
  font-size: 22px;
  border: 1px solid rgb(255, 175, 109);
  color: #ffffff;
}

.contenedor {
  padding: 1px;
  margin-left: 2%;
  margin-right: 2%;
}

body {
  font-size: 18px;
  background-color: rgb(253, 249, 249);
}

p {
  margin-top: 10px;
}
